<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body bgcolor="#33FFD4">
<div align ="center">
    <h2>Решение определенного интеграла  методом трапеций</h2>
    <form action="" method="post">
        <input type="text" placeholder="Введите функцию" name="func_h">
        <br><br>
        <input type="text" placeholder="Введите нижний предел" name="a_h">
        <br><br>
        <input type="text" placeholder="Введите верхний предел" name="b_h">
        <br><br>
        <input type="text" placeholder="Введите шаг интегрирования" name="h_h">
        <br><br>
        <input type="submit" value="Решить">
    </form>
</div>
</body>
</html>